body {
  margin: 0;                 /* Remove default body margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;               /* Use system and web fonts */
  -webkit-font-smoothing: antialiased; /* Smooth font rendering for WebKit */
  -moz-osx-font-smoothing: grayscale;  /* Smooth font rendering for Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;               /* Use monospaced fonts for code elements */
}
